/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.header{
  background-color: #1e2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header > h3{
  font-size: 14pt;
  color: white;
  font-weight: 100;
  margin-right: .5rem;
}
.header .textlogo{
  display: flex;
  align-items:center;
  color: rgb(36, 222, 228);
  padding: 15px;
}
.header .textlogo > h1{
  font-size: 18pt;
  margin-left: .3rem;
}
.App-header {
  display: flex;
  flex-direction:column;
  padding: 1rem;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header > h2{
  margin-left: 1rem;
  font-weight: bold;
}
.App-header > ul{
  font-weight: 100;
}
.App-header > ul > li{
  padding: .5rem 0;
}
.App-link {
  color: #61dafb;
}
